*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
}
.container{
    max-width: 1216px;
    margin: auto;
}
.head{
    background-color: #ffff;
    padding: 1px 0px 32px 0px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}
.heade>h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 80%;
    color: #009661;
    margin-right: 40px;
}
.heade-seller>h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 80%;
    color: #252525;
    margin-right: 40px;
}
.heade{
    display: flex;
}
.heade-seller{
    display: flex;
}
.nav{
    display: flex;
}
.nav-link{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: #252525;
    margin-right: 24px;
}
.nav-link>span{
    margin-left: 8px;
}
.profile{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    border: none;
    padding: 16px 32px;
    width: 201px;
    height: 56px;
    background: none;
    color: #009661;
}
.new-score{
    font-weight: 700;
    font-size: 13px;
    line-height: 171%;
    text-transform: uppercase;
    color: #009661;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    width: 201px;
    height: 56px;
    background: rgba(70, 137, 102, 0.06);
}
.new-score-seller{
    font-weight: 700;
    font-size: 13px;
    line-height: 171%;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    width: 193px;
    height: 56px;
    background: #009661;
}
.top-card{
    width: 289px;
    height: 362px;
    border-radius: 4px 4px 0 0;
    background-color: #ffff;
}
.top-card>img{
    border-radius: 4px 4px 0 0;
    width: 289px;
    height: 244px;
}
.top-card>h2{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #252525;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
}
.adres{
    display: flex;
    align-items: center;
}
.top-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.top-cont>h1{
    font-weight: 400;
    font-size: 45px;
    line-height: 150%;
    color: #252525;
    margin-bottom: 48px;
}
.adres>span{
    margin-right: 8px;
}
.top-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}
.top-txt>h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: right;
    color: #009661;
}
.top-btn{
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 171%;
    text-transform: uppercase;
    color: #ffff;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    width: 222px;
    height: 56px;
    background: #009661;
    margin-top: 48px;
}
.footer{
    background: #212026;
    width: 100%;
    height: 100%;
    margin-top: 120px;
    padding-bottom: 32px;
}
.txt-logo>h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0.25em;
    color: #ffff;
    margin-top: 60px;
}
.txt-logo>p{
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #ffff;
    opacity: 0.6;
    margin-bottom: 50px;
}
.txt-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-footer{
    display: flex;
}
.txt-nav>h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #ffff;
    opacity: 0.6;
}
.nav-footer>p{
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    text-transform: uppercase;
    color: #ffff;
    margin-right: 60px;
    margin-top: 13px;
}
.txt-icon>h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #ffff;
    opacity: 0.6;
    margin-bottom: 14px;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-end{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffff;
    width: 1216px;
    height: 56px;
    opacity: 0.1;
}
.footer-end-txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #ffff;
}
.sellers{
    border-radius: 8px;
    width: 1800px;
    height: 550px;
    background: #ffffff;
    margin-left: 50px;
    margin-top: 120px;
}
.sellers-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sellers-txt>h1{
    font-weight: 400;
    font-size: 45px;
    line-height: 150%;
    color: #252525;
    margin-bottom: 16px;
    margin-top: 145px;
}
.sellers-txt>p{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #8B959E;
    margin-bottom: 60px;
}
.sellers-btn{
    font-weight: 700;
    font-size: 13px;
    line-height: 171%;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 178px;
    height: 56px;
    background: #009661;
    border: none;
}
.sellers-img{
    border: 8px solid #8B959E ;
    width: 699px;
    height: 310px;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    
}
.sellers-compani{
    display: flex;
    align-items: center;
}
.img-1{
    margin-top: 67px;
    margin-left: 64px;
}
.img-2{
    margin-top: 60px;
    margin-left: 96px;
}
.img-3{
    margin-top: 64px;
    margin-left: 70px;
}
.img-4{
    margin-top: 54px;
    margin-left: 125px;
}
.card-link>p>span{
    margin-left: 20px;
}
.card-link{
    display: flex;
    align-items: center;
    padding-top: 32px;
    margin-bottom: 32px;
}
.card-link-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
}
.card-txt{
    border-radius: 8px;
    width: 495px;
    height: 315px;
    background: #ffffff;
    margin-left: 20px;
}
.card-txt-2{
    border-radius: 8px;
    width: 495px;
    height: 242px;
    background: #ffffff;
    margin-left: 20px;
}
.card-link>p{
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #8B959E;
    margin-right: 20px;
}
.card-2-btn{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: #009661;
    border: none;
    border-radius: 4px;
    padding: 2px 12px;
    width: 226px;
    height: 28px;
    background: rgba(108, 159, 131, 0.1);
}
.card-2-btn-2{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: #eb5757;
    border-radius: 4px;
    border: none;
    background: rgba(235, 87, 87, 0.1);
    padding: 2px 12px;
    width: 85px;
    height: 28px;
    margin-left: 12px;
}
.btn-dssljh{
    display: flex;
    align-items: center;
}
.card-link-2>p{
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #8B959E;
    margin-right: 20px;
}
.last-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #252525;
}
.card-imgs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.card{
    display: flex;
    justify-content: space-between;
}
.avto-name{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.avto-name>h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #252525;
    margin-top: 16px;
}
.avto-name-2>h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #252525;
    padding-top: 16px;
    margin-left: 24px;
}
.card-txt>p{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #8B959E;
    display: flex;
    margin-left: 24px;
    margin-top: 8px;
}
.card-txt-2>p{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #8B959E;
    display: flex;
    margin-left: 24px;
    margin-top: 8px;
}
.avto-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.info{
    margin-top: 49px;
}
.info>h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #8B959E;
}
.info>p{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #252525;
}
.card-txt>span{
    width: 447px;
    height: 1px;
    background: #e8e9e8;
}
.card-txt>h2{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: #009661;
    margin-top: 49px;
    margin-left: 24px;
}
.card-price{
    width: 495px;
    height: 104px;
    background: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card-price>h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: #009661;
}
.card-btn{
    border-radius: 4px;
    padding: 16px 32px;
    width: 221px;
    height: 56px;
    background: #009661;
    font-weight: 700;
    border: none;
    font-size: 13px;
    line-height: 171%;
    text-transform: uppercase;
    color: #ffffff;
}
.review-cont>h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #252525;
    margin-top: 80px;
    margin-bottom: 32px;
}
.category-a{
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 701px;
    height: 56px;
    background: #e4e5e7 ;
}
.category-a>h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8B959E;
    margin-left: 24px;
}
.category-a>p{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #252525;
    position: absolute;
    margin-left: 309px;
}
.category-b{
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 701px;
    height: 56px;
}
.category-b>h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8B959E;
    margin-left: 24px;
}
.category-b>p{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #252525;
    position: absolute;
    margin-left: 309px;
}
.description-cont>h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #252525;
    margin-top: 80px;
}
.description-cont>h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #252525;
    margin-top: 32px;
}.description-cont>h3{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: #009661;
    margin-top: 32px;
}
.description-cont>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #868686;
    margin-top: 8px;
    max-width: 690px;
}
.similar-cont>h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #252525;
    margin-top: 202px;
    margin-bottom: 40px;
}
.registration-cont{
    border-radius: 8px;
    width: 924px;
    height: 1184px;
    background: #ffffff;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}
.registration-cont>h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 150%;
    color: #252525;
    text-align: center;
    padding-top: 60px;
}
.registration-cont>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #8B959E;
    text-align: center;
}
.intt{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.pole>h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #252525;
    margin-top: 40px;
}
.int>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #8B959E;
    margin-bottom: 8px;
    margin-top: 12px;
}
.int>input{
    border: 2px solid #E9E9E9;
    width: 392px;
    height: 56px;
}
.chek{
    display: flex;
    align-items: center;
    margin-top: 24PX;
    justify-content: center;
}
.inttt{
    margin-left: 35px;
}
.registration-btn{
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    border: none;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 16px 32px;
    width: 165px;
    height: 56px;
    background: #009661;
    margin-top: 48px;
}
.hjk{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #8B959E;
    padding-left: 16PX;

}
.hjk>span{
    color: #009661;
}
input[type="checkbox"]{
    accent-color: #009661;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    stroke-width: 2px;
    background: #009661;
}
.log-btn{
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    width: 165px;
    height: 56px;
    background: #009661;
    margin-top: 40px;
}
.log-cont{
    border-radius: 8px;
    width: 598px;
    height: 576px;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}
.log-contt{
    border-radius: 8px;
    width: 598px;
    height: 840px;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;   
}
.log-contt>h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 150%;
    text-align: center;
    color: #252525;
    padding-top: 60px;
}
.log-contt>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #8B959E;
    margin-top: 8px;
    margin-bottom: 40px;
}
.log-cont>h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 150%;
    text-align: center;
    color: #252525;
    padding-top: 60px;
}
.intttt{
    margin-left: auto;
    margin-right: auto;
}
.dfghj{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #252525;
    margin-top: 33px;
}
.dfghj>span{
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    text-transform: uppercase;
    color: #009661;
    margin-left: 16px;
}
.favourites{
    height: 228px;
    background: #FFFFFF;
    margin-top: 3px;
}
.favourites-cont>h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 150%;
    color: #252525;
}