*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
}


.container{
    max-width: 1216px;
    margin: auto;
}
.head{
    background-color: #ffff;
    padding: 1px 0px 32px 0px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}
.heade>h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 80%;
    color: #009661;
    margin-right: 40px;
}
.heade{
    display: flex;
}
.nav{
    display: flex;
}
.nav-link{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: #252525;
    margin-right: 24px;
}
.nav-link>span{
    margin-left: 8px;
}
.profile{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    border: none;
    padding: 16px 32px;
    width: 201px;
    height: 56px;
    background: none;
    color: #009661;
}
.new-score{
    font-weight: 700;
    font-size: 13px;
    line-height: 171%;
    text-transform: uppercase;
    color: #009661;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    width: 201px;
    height: 56px;
    background: rgba(70, 137, 102, 0.06);
}
.top-card{
    width: 289px;
    height: 362px;
    border-radius: 4px 4px 0 0;
    background-color: #ffff;
}
.top-card>img{
    border-radius: 4px 4px 0 0;
    width: 289px;
    height: 244px;
}
.top-card>h2{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #252525;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
}
.adres{
    display: flex;
    align-items: center;
}
.top-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.top-cont>h1{
    font-weight: 400;
    font-size: 45px;
    line-height: 150%;
    color: #252525;
    margin-bottom: 48px;
}
.adres>span{
    margin-right: 8px;
}
.top-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}
.top-txt>h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: right;
    color: #009661;
}
.top-btn{
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 171%;
    text-transform: uppercase;
    color: #ffff;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    width: 222px;
    height: 56px;
    background: #009661;
    margin-top: 48px;
}
.footer{
    background: #212026;
    width: 100%;
    height: 100%;
    margin-top: 120px;
    padding-bottom: 32px;
}
.txt-logo>h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0.25em;
    color: #ffff;
    margin-top: 60px;
}
.txt-logo>p{
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #ffff;
    opacity: 0.6;
    margin-bottom: 50px;
}
.txt-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-footer{
    display: flex;
}
.txt-nav>h2{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #ffff;
    opacity: 0.6;
}
.nav-footer>p{
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    text-transform: uppercase;
    color: #ffff;
    margin-right: 60px;
    margin-top: 13px;
}
.txt-icon>h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #ffff;
    opacity: 0.6;
    margin-bottom: 14px;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-end{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffff;
    width: 1216px;
    height: 56px;
    opacity: 0.1;
}
.footer-end-txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #ffff;
}